.title {
  text-align: center;
  color: rgba(44, 131, 143, 1);
  margin-bottom: 50px;
  margin-top: 110px;
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 4%;
}

/* Accordion container */
.accordion-container {
  max-width: 800px;
  margin: 0 auto;
}

/* Accordion item */
.accordion-item {
  margin-bottom: 10px;
  width: 504px;
}

/* Accordion header */
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.accordion-header:hover {
  background-color: #f0f0f0;
}

.accordion-header.expanded {
  background-color: rgba(44, 131, 143, 1);
  color: white;
}

.toggle-icon {
  font-size: 18px;
}

/* Accordion content */
.accordion-content {
  padding: 15px;
  background-color: #f9f9f9;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 20px;
}
